SOAPUser/xml-resources/web-service-references/Form/wsdl/localhost_8084/SOAPForm/Form.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://formAPI/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://formAPI/">

<xs:element name="add" type="tns:add" />

<xs:element name="addResponse" type="tns:addResponse" />

<xs:element name="answerForm" type="tns:answerForm" />

<xs:element name="answerFormResponse" type="tns:answerFormResponse" />

<xs:element name="getFormsByUsername" type="tns:getFormsByUsername" />

<xs:element name="getFormsByUsernameResponse" type="tns:getFormsByUsernameResponse" />

<xs:complexType name="answerForm">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" />
<xs:element name="answers" type="tns:questionObj" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="questionObj">
<xs:sequence>
<xs:element name="posibleAnswers" type="tns:answerObj" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="question" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="answerObj">
<xs:sequence>
<xs:element name="answer" type="xs:string" minOccurs="0" />
<xs:element name="chooseCount" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="answerFormResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFormsByUsername">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFormsByUsernameResponse">
<xs:sequence>
<xs:element name="return" type="tns:formObj" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="formObj">
<xs:sequence>
<xs:element name="title" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="add">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0" />
<xs:element name="form" type="tns:formObj" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>