SOAPFormAdmin/src/META-INF/wsdl/localhost_8084/SOAPForm/Form.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://formAPI/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://formAPI/" name="Form">
<types>
<xsd:schema>
<xsd:import namespace="http://formAPI/" schemaLocation="http://localhost:8084/SOAPForm/Form?xsd=1" />
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add" />
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse" />
</message>
<message name="getFormsByUsername">
<part name="parameters" element="tns:getFormsByUsername" />
</message>
<message name="getFormsByUsernameResponse">
<part name="parameters" element="tns:getFormsByUsernameResponse" />
</message>
<message name="answerForm">
<part name="parameters" element="tns:answerForm" />
</message>
<message name="answerFormResponse">
<part name="parameters" element="tns:answerFormResponse" />
</message>
<portType name="Form">
<operation name="add">
<input wsam:Action="http://formAPI/Form/addRequest" message="tns:add" />
<output wsam:Action="http://formAPI/Form/addResponse" message="tns:addResponse" />
</operation>
<operation name="getFormsByUsername">
<input wsam:Action="http://formAPI/Form/getFormsByUsernameRequest" message="tns:getFormsByUsername" />
<output wsam:Action="http://formAPI/Form/getFormsByUsernameResponse" message="tns:getFormsByUsernameResponse" />
</operation>
<operation name="answerForm">
<input wsam:Action="http://formAPI/Form/answerFormRequest" message="tns:answerForm" />
<output wsam:Action="http://formAPI/Form/answerFormResponse" message="tns:answerFormResponse" />
</operation>
</portType>
<binding name="FormPortBinding" type="tns:Form">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="add">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getFormsByUsername">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="answerForm">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Form">
<port name="FormPort" binding="tns:FormPortBinding">
<soap:address location="http://localhost:8084/SOAPForm/Form" />
</port>
</service>
</definitions>