SOAPFormAdmin/xml-resources/web-service-references/Form/wsdl/localhost_8084/SOAPForm/Form.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://formAPI/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://formAPI/" name="Form">
<types>
<xsd:schema>
<xsd:import namespace="http://formAPI/" schemaLocation="http://localhost:8084/SOAPForm/Form?xsd=1" />
</xsd:schema>
</types>
<message name="get">
<part name="parameters" element="tns:get" />
</message>
<message name="getResponse">
<part name="parameters" element="tns:getResponse" />
</message>
<message name="create">
<part name="parameters" element="tns:create" />
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse" />
</message>
<message name="getAll">
<part name="parameters" element="tns:getAll" />
</message>
<message name="getAllResponse">
<part name="parameters" element="tns:getAllResponse" />
</message>
<portType name="Form">
<operation name="get">
<input wsam:Action="http://formAPI/Form/getRequest" message="tns:get" />
<output wsam:Action="http://formAPI/Form/getResponse" message="tns:getResponse" />
</operation>
<operation name="create">
<input wsam:Action="http://formAPI/Form/createRequest" message="tns:create" />
<output wsam:Action="http://formAPI/Form/createResponse" message="tns:createResponse" />
</operation>
<operation name="getAll">
<input wsam:Action="http://formAPI/Form/getAllRequest" message="tns:getAll" />
<output wsam:Action="http://formAPI/Form/getAllResponse" message="tns:getAllResponse" />
</operation>
</portType>
<binding name="FormPortBinding" type="tns:Form">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="get">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="create">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAll">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Form">
<port name="FormPort" binding="tns:FormPortBinding">
<soap:address location="http://localhost:8084/SOAPForm/Form" />
</port>
</service>
</definitions>